<div fxLayout="row wrap" *ngIf="loadTitles">
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100" *ngFor="let table of this.responseTitlesList; index as i">
    <mat-card>
      <mat-card-content (click)="setTableNameToLocalStorage(responseTitlesList[i])" [routerLink]="[responseTitlesList[i].tableName]"
                        (mouseup)="clicked($event, responseTitlesList[i])"
                        [ngClass]="
                    {'bg-gray-with-disable': table.disabled,
                    'bg-danger': (table.status === null),
                    'bg-success': (table.status === 'COMPLETED'),
                    'bg-warning': ((table.status === 'SAVED') || (table.status === 'PROCESSED'))
                    }"
                        class="custom-cursor">
        <!-- Row -->
        <div class="d-flex no-block">
          <div>
            <h6 class="text-white m-0">{{this.responseTitlesList[i].onoma}}</h6>
          </div>
          <!-- column -->
          <div class="m-r-10 ml-auto no-shrink">
            <button mat-fab mat-card-icon class="shadow-none"
                    [ngClass]="
                    {'bg-gray-with-disable': table.disabled,
                    'bg-danger': (table.status === null),
                    'bg-success': (table.status === 'COMPLETED'),
                    'bg-warning': ((table.status === 'SAVED') || (table.status === 'PROCESSED'))
                    }"
                    (click)="setTableNameToLocalStorage(responseTitlesList[i])" [routerLink]="[responseTitlesList[i].tableName]"
                    (mouseup)="clicked($event, responseTitlesList[i])">
              <mat-icon *ngIf="table.disabled" class="color-white">not_interested</mat-icon>
              <mat-icon *ngIf="table.status === 'COMPLETED' && !table.disabled" [ngClass]="{'bg-success': (table.status === 'COMPLETED')}">check_circle_outline</mat-icon>
              <mat-icon *ngIf="table.status === null && !table.disabled" [ngClass]="{'bg-danger': ( table.status === null)}">input</mat-icon>
              <mat-icon *ngIf="((table.status === 'SAVED') || (table.status === 'PROCESSED')) && !table.disabled"
                        [ngClass]="{'bg-warning': (table.status === 'SAVED') || (table.status === 'PROCESSED')}">create</mat-icon>
            </button>
          </div>
          <!-- column -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
</div>
