.custom-home-center {
  width: 100%;
  //padding-left: 25%;
  //padding-right: 25%;
}

.mat-paginator {
  background: none !important;
}

.mat-table {
  //background: none !important;
}

a:hover, a:focus {
  cursor: pointer;
  text-decoration: underline;
}

a {
  font-weight: bold;
}
