<div *ngIf="loading">
  <mat-spinner class="mat-spinner-center"></mat-spinner>
</div>

<h2 *ngIf="!loading" mat-dialog-title fxLayout="row" fxLayoutAlign="center center" class="modal-header">
  Επιτυχής Ολοκλήρωση </h2>
<mat-dialog-content *ngIf="!loading" class="mat-typography">
  <p>Ολοκληρώσατε επιτυχώς την εργασία με αριθμό: {{orderId}}</p>
</mat-dialog-content>

<mat-dialog-actions *ngIf="!loading" class="justify-content-end modal-footer">
  <button mat-button color="primary" mat-dialog-close (click)="yes()">Εντάξει</button>
</mat-dialog-actions>
