.custom-width{
  width: 21%;
}

/** CUSTOM WIDTH AT LOGO */
.logo-width{
  width: 30%;
  margin-left: 30%;
}

/** OVERLOAD CSS FOR COMPANY REASONS */
.mat-toolbar.mat-primary {
  background: #ffffff;
  color: black;
}
