<div class="login-register" style="background-image:url(assets/images/big/img6.jpg);">
  <div *ngIf="!loadingFields" class="ml-50-percentage text-center">
    <mat-spinner></mat-spinner>
  </div>

  <div class="login-register-box" *ngIf="loadingFields">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="text-center">
            <h4 class="m-t-0">{{formTitle.onoma}}</h4>
          </div>
          <div fxLayout="row wrap">
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput [placeholder]="firstNamePlaceHolder.onoma" type="text" [formControl]="form.controls['firstName']">
              </mat-form-field>
              <small *ngIf="form.controls['firstName'].hasError('required') && form.controls['firstName'].touched" class="text-danger support-text">{{firstNameRequired.onoma}}</small>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput [placeholder]="lastNamePlaceHolder.onoma" type="text" [formControl]="form.controls['lastName']">
              </mat-form-field>
              <small *ngIf="form.controls['lastName'].hasError('required') && form.controls['lastName'].touched" class="text-danger support-text">{{lastNameRequired.onoma}}</small>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput [placeholder]="usernamePlaceHolder.onoma" type="text" [formControl]="form.controls['username']">
              </mat-form-field>
              <small *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched" class="text-danger support-text">{{usernameRequired.onoma}}</small>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput [placeholder]="emailPlaceHolder.onoma" type="email" [formControl]="form.controls['email']">
              </mat-form-field>
              <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched" class="text-danger support-text">{{emailRequired.onoma}}</small>
              <small *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched" class="text-danger support-text">{{validEmailRequired.onoma}}</small>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput type="password" [placeholder]="passwordPlaceHolder.onoma" [formControl]="form.controls['password']">
              </mat-form-field>
              <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="text-danger support-text">{{passwordRequired.onoma}}</small>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field style="width: 100%">
                <input matInput [placeholder]="confirmPasswordPlaceHolder.onoma" [formControl]="form.controls['confirmPassword']" type="password">
              </mat-form-field>
              <small *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched" class="text-danger support-text">{{confirmPasswordRequired.onoma}}</small>
              <small *ngIf="form.controls['confirmPassword'].errors?.equalTo" class="text-danger support-text">{{validConfirmPasswordRequired.onoma}}</small>
            </div>

            <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit" [disabled]="!form.valid">{{registerButton.onoma}}</button>

            <div class="text-center" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <span>{{loginText.onoma}}
                <a [routerLink]="['/el/login']" class="link text-info">{{loginButton.onoma}}</a>
              </span>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
